.archive .collection-title {
  display: none !important;
}

.archive .post-content .collection-year {
  margin: 40px 0 0 0;
}

.archive .post-block:first-of-type {
    padding-top: 40px;
}

.posts-expand .post-block:not(:first-of-type) {
    margin-top: 60px;
}