// 调整归档页面 css 样式
// 隐藏归档页面总文章title
.posts-collapse .post-content .collection-title {
  display: none;
}

.posts-collapse .post-content .collection-year {
  margin: 40px 0 0 0;
}


.posts-collapse .post-content .collection-year::before {
  display: none;
}

.posts-collapse .post-content .collection-header {
  margin: 0 0 0 0;
}

.posts-collapse .post-content .post-meta-container {
  font-size: inherit; /* or use initial or unset */
}

.archive .post-block:first-of-type {
    padding-top: 0;
}


// 归档页 title 添加选中的加粗放大效果和动画
.posts-collapse .post-content .post-title {
  transition: font-size 0.1s ease, font-weight 0.1s ease; /* 添加过渡动画 */
}

.posts-collapse .post-content .post-title:hover {
  font-weight: bold;
  font-size: 1.1em; /* 放大字体大小，1.1em 表示放大 10% */
}

// 首页 post 间距调整
.posts-expand .post-block:first-of-type {
    padding-top: 40px;
}

.posts-expand .post-block:not(:first-of-type) {
    margin-top: 30px;
}


// 分页  
.pagination {
  margin: 60px 0 0;
}

.pagination .prev, .pagination .next, .pagination .page-number, .pagination .space {
    margin: -1px 10px 0 0;
    padding: 0 10px;
}


